<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push</url>
        </http>
        <labels>app=eventticketing
service=sales-service
env=k8s</labels>
        <structuredMetadata>off</structuredMetadata>
        <message class="ch.qos.logback.classic.PatternLayout">
            <pattern>{"timestamp":"%d{ISO8601}","level":"%level","service":"sales-service","thread":"%thread","logger":"%logger{36}","correlationId":"%X{correlationId:-}","userId":"%X{userId:-}","bookingId":"%X{bookingId:-}","saleId":"%X{saleId:-}","routingKey":"%X{routingKey:-}","message":"%msg"}</pattern>
        </message>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI"/>
    </root>
</configuration>
